In [61]:
%load_ext autoreload
# %autoreload 2
# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [106]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:20,.2f}'.format

In [37]:
print(sys.version)

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]

In [38]:
print(os.path.dirname(sys.executable))

C:\ProgramData\Anaconda3

In [39]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [40]:
# print(sys.path)
print(my_library)
print(my_spark)
print(os.listdir(my_spark))

C:\Users\d810216/.myconfigs
C:\Users\d810216/spark2_dfanalysis
['.git', '.gitignore', 'example_notebooks', 'LICENSE', 'mydf', 'README.md', 'shared', '__init__.py']

In [41]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('myappname').getOrCreate()

In [8]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [42]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")

In [43]:
print(spark)
print(ctx.spark)
# print(dir(ctx.spark))

<pyspark.sql.session.SparkSession object at 0x0000018A92982748>
<pyspark.sql.session.SparkSession object at 0x0000018A92982748>

In [56]:
# print(sys.path)
from mydf.DataFrameBuild import *

# Last import.

In [57]:
x = myDF(ctx.spark)
print(type(x))
print(dir(x))
print(x.spark)
x.df_simple_array()
#x.df_array(ctx.spark,10)

<class 'mydf.DataFrameBuild.myDF'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'decision_array_type', 'df_multidimensional', 'df_randomly_increasing_array', 'df_simple_array', 'df_string_array', 'get_string_array', 'profile_partitions', 'profile_size', 'spark']
<pyspark.sql.session.SparkSession object at 0x0000018A92982748>

DataFrame[Index: bigint]

## --- Development ---
#### x = myDF(ctx.spark)

### Create Arrays

In [32]:
autoreload

In [14]:
x.df_simple_array(5,8)
x.count
x.df.show()

+-----+
|Index|
+-----+
|  5.0|
|  6.0|
|  7.0|
|  8.0|
+-----+

In [15]:
x.df_simple_array(1000)
x.df.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
|   10|
|   11|
|   12|
|   13|
|   14|
|   15|
|   16|
|   17|
|   18|
|   19|
+-----+
only showing top 20 rows

In [16]:
x.df_randomly_increasing_array(3)

DataFrame[Index: double, Random Number: double]

In [17]:
for i in range(20):
    x.df_randomly_increasing_array(50)
    
x.df.limit(20).toPandas()

    Index  Random Number
0     0.0            0.0
1     1.0            1.0
2     2.0            0.0
3     3.0            2.0
4     4.0            1.0
5     5.0            2.0
6     6.0            2.0
7     7.0            7.0
8     8.0            5.0
9     9.0            6.0
10   10.0            8.0
11   11.0            0.0
12   12.0            6.0
13   13.0           13.0
14   14.0            1.0
15   15.0            0.0
16   16.0            9.0
17   17.0           10.0
18   18.0           11.0
19   19.0            6.0

In [18]:
fruit = ["apple","orange","banana","grape","melon","pineapple","kiwi","lemon","lime"]

In [19]:
df_fruit = x.spark.createDataFrame(fruit,StringType()).toDF("fruit")

In [20]:
df_fruit.show()

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [21]:
def get_string_fields(lst):
    n = len(lst)
    fields = [StructField(x,StringType(),True) for x in lst]
    return fields

fields_fruit = get_string_fields(fruit)
# df = x.spark.createDataFrame(fruits,fields_fruit)

### Example 1.

In [22]:
autoreload

In [23]:
X = myDF(ctx.spark)
# print(fruit)
# print(len(fruit))

df_num_fruit = X.df_simple_array(len(fruit))
df_random_num= X.df_randomly_increasing_array(len(fruit))
df_fruit     = X.df_string_array(fruit,"fruit")

df_num_fruit.show()
df_fruit.show()
df_random_num.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
+-----+

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

+-----+-------------+
|Index|Random Number|
+-----+-------------+
|  0.0|          0.0|
|  1.0|          0.0|
|  2.0|          1.0|
|  3.0|          1.0|
|  4.0|          4.0|
|  5.0|          1.0|
|  6.0|          6.0|
|  7.0|          4.0|
|  8.0|          7.0|
+-----+-------------+

#### concat ...

In [24]:
print(df_num_fruit.columns)
print(df_fruit.columns)
print(df_random_num.columns)

['Index']
['fruit']
['Index', 'Random Number']

In [25]:
print(df_num_fruit.count())
print(df_fruit.count())
# df_combined = df_num_fruit.join(df_fruit)
# df_combined.show()

9
9

In [26]:
def df_add_column(df,dfa,colname):
    df_new = df.withColumn(colname,dfa.column(colname))
    return df_new

In [27]:
df_fruit.columns

['fruit']

In [28]:
# df_num_fruit
# df_fruit
df_f2 = df_num_fruit.unionAll(df_fruit)

# unionAll appends 2nd dataframe to the end of the 1st
# Vertical Join

In [29]:
df_f2.show()

+---------+
|    Index|
+---------+
|        0|
|        1|
|        2|
|        3|
|        4|
|        5|
|        6|
|        7|
|        8|
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [30]:
df_com = df_num_fruit.join(df_fruit,df_num_fruit['Index'] != df_fruit["fruit"],"outer")

# horizontal join, but non inner..

In [31]:
df_com.show()

+-----+---------+
|Index|    fruit|
+-----+---------+
| null|    apple|
| null|   orange|
| null|   banana|
| null|    grape|
| null|    melon|
| null|pineapple|
| null|     kiwi|
| null|    lemon|
| null|     lime|
|    0|     null|
|    1|     null|
|    2|     null|
|    3|     null|
|    4|     null|
|    5|     null|
|    6|     null|
|    7|     null|
|    8|     null|
+-----+---------+

In [105]:
%autoreload
from mydf.DataFrameBuild import *


X = myDF(ctx.spark)
df_multi = X.df_multidimensional(4,3,[('string',6),
                                      ('integer',(1000,9999)),
                                      ('double',(0.0,1.0))])
df_multi.show()

+------+-------+------------------+
|string|integer|            double|
+------+-------+------------------+
|bewxkh|   5977|0.2570108879911984|
|urwntz|   8969| 0.709797633826858|
|eyqxtc|   4601|0.5923364338323751|
|ctukzh|   3710|0.3102102445180932|
+------+-------+------------------+

In [107]:
df_multi.show()

+------+-------+------------------+
|string|integer|            double|
+------+-------+------------------+
|bewxkh|   5977|0.2570108879911984|
|urwntz|   8969| 0.709797633826858|
|eyqxtc|   4601|0.5923364338323751|
|ctukzh|   3710|0.3102102445180932|
+------+-------+------------------+

### Example 2. Another random, multidimensional dataframe

In [110]:
%autoreload
from mydf.DataFrameBuild import *


X = myDF(ctx.spark)
df_multi6 = X.df_multidimensional(500,6,[('string1',6),
                                        ('string2',13),
                                        ('integer',(1000,9999)),
                                        ('double1',(0.0,1.0)),
                                        ('double2',(0.0,10000000)),
                                        ('integer2',(1,10000))])

In [111]:
df_multi6.show()

+-------+-------------+-------+-------------------+------------------+--------+
|string1|      string2|integer|            double1|           double2|integer2|
+-------+-------------+-------+-------------------+------------------+--------+
| pxzcfs|hdkfxolokqsdk|   2072|0.23950891343345992|1553567.2718001436|    8297|
| tcxivu|rlftefdzayehr|   4285| 0.6514825745809212|2142944.0838629534|    3081|
| fspxaq|xocpqobigrogl|   1504| 0.7777005105189999|3409895.7531948937|    6953|
| efqmlr|cryujspjjfhms|   1887|  0.673793828982649| 5825303.103361736|    5312|
| dzboiv|kbsybfmstplsm|   1890|  0.567766842657271| 6527736.112299853|    7344|
| vmfisn|dybxylcrgehxj|   9600| 0.8276100223188335| 6396252.213045467|    9123|
| ysvuju|yxskxswrkqxaq|   3235| 0.7532167820374222| 3639023.154605797|    9920|
| haephv|omjybotnrfbzs|   9875| 0.5600824063143812| 6827808.162748888|    5115|
| njgfee|nhhelkspqgaod|   4386| 0.7008183094857229| 7734117.614634358|    2070|
| uuldxz|yscyhdluwhldy|   5047| 0.0663062205361441|  4751590.29352051|    3379|
| iiawlg|pccdfgpmjqiim|   1901|  0.726353169827262| 946278.4777960298|    9074|
| kmwjvw|cqshjmgddqlyu|   4085| 0.4645157758321743| 9661638.094792048|    5877|
| hrewup|ofpaywaqbvidn|   1951| 0.7156249871873692| 2556473.231804133|    5494|
| lrvawp|hlexzjcquhpfi|   8414|0.35481985536382066| 5423739.297458763|    1756|
| cplbny|fleieiwujrqnn|   7854| 0.8075990824351565| 727095.4417577058|    6593|
| otckrp|oclidmfnvgsss|   4637| 0.7417543159589052|3610667.9764653714|    7684|
| nomrqx|munyyrevzvmyy|   2714| 0.9225669854583219| 5613850.810733815|    6298|
| rzztwh|guyrgnnuxpypc|   2743|0.45535162073256275| 2547872.541329276|    4967|
| dwqrfe|puqqjmipiyeea|   8287|  0.988208323312431| 1059964.705449412|    2770|
| diwhnt|ohuxnmytvcscd|   1839|0.06336306200981956| 8983183.740045713|    1878|
+-------+-------------+-------+-------------------+------------------+--------+
only showing top 20 rows

### Get Partitioning