# DataFrame Builder:

In [119]:
%load_ext autoreload
%autoreload 2

# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [120]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:20,.2f}'.format

In [121]:
print(sys.version)

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]

In [122]:
print(os.path.dirname(sys.executable))

C:\ProgramData\Anaconda3

In [123]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [124]:
# print(sys.path)
print(my_library)
print(my_spark)
print(os.listdir(my_spark))

C:\Users\d810216/.myconfigs
C:\Users\d810216/spark2_dfanalysis
['.git', '.gitignore', 'example_notebooks', 'LICENSE', 'mydf', 'README.md', 'shared', '__init__.py']

In [125]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('myappname').getOrCreate()

In [126]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [127]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")

In [128]:
print(spark)
print(ctx.spark)
# print(dir(ctx.spark))

<pyspark.sql.session.SparkSession object at 0x0000018A92982748>
<pyspark.sql.session.SparkSession object at 0x0000018A92982748>

In [129]:
# print(sys.path)
from mydf.DataFrameBuild import *

## ^final import

## DataFrameBuild
### x = myDF(ctx.spark)

In [132]:
x = myDF(ctx.spark)
print(type(x))
print(dir(x))
print(x.spark)
x.df_simple_array()
#x.df_array(ctx.spark,10)

<class 'mydf.DataFrameBuild.myDF'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'decision_array_type', 'df_multidimensional', 'df_randomly_increasing_array', 'df_simple_array', 'df_string_array', 'get_StructField', 'get_double_array', 'get_integer_array', 'get_string_array', 'profile_partitions', 'profile_size', 'spark']
<pyspark.sql.session.SparkSession object at 0x0000018A92982748>

DataFrame[Index: bigint]

### Create Arrays

In [133]:
x.df_simple_array(5,8)
x.count
x.df.show()

+-----+
|Index|
+-----+
|  5.0|
|  6.0|
|  7.0|
|  8.0|
+-----+

In [134]:
x.df_simple_array(1000)
x.df.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
|   10|
|   11|
|   12|
|   13|
|   14|
|   15|
|   16|
|   17|
|   18|
|   19|
+-----+
only showing top 20 rows

In [135]:
x.df_randomly_increasing_array(3)

DataFrame[Index: double, Random Number: double]

In [136]:
for i in range(20):
    x.df_randomly_increasing_array(50)
    
x.df.limit(20).toPandas()

                  Index        Random Number
0                  0.00                 0.00
1                  1.00                 1.00
2                  2.00                 0.00
3                  3.00                 2.00
4                  4.00                 2.00
5                  5.00                 0.00
6                  6.00                 5.00
7                  7.00                 5.00
8                  8.00                 3.00
9                  9.00                 3.00
10                10.00                 6.00
11                11.00                 9.00
12                12.00                 8.00
13                13.00                 2.00
14                14.00                 6.00
15                15.00                15.00
16                16.00                14.00
17                17.00                13.00
18                18.00                 3.00
19                19.00                 5.00

In [137]:
fruit = ["apple","orange","banana","grape","melon","pineapple","kiwi","lemon","lime"]

In [138]:
df_fruit = x.spark.createDataFrame(fruit,StringType()).toDF("fruit")

In [139]:
df_fruit.show()

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [140]:
def get_string_fields(lst):
    n = len(lst)
    fields = [StructField(x,StringType(),True) for x in lst]
    return fields

fields_fruit = get_string_fields(fruit)
# df = x.spark.createDataFrame(fruits,fields_fruit)

### Example 1.

In [141]:
X = myDF(ctx.spark)
# print(fruit)
# print(len(fruit))

df_num_fruit = X.df_simple_array(len(fruit))
df_random_num= X.df_randomly_increasing_array(len(fruit))
df_fruit     = X.df_string_array(fruit,"fruit")

df_num_fruit.show()
df_fruit.show()
df_random_num.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
+-----+

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

+-----+-------------+
|Index|Random Number|
+-----+-------------+
|  0.0|          0.0|
|  1.0|          1.0|
|  2.0|          1.0|
|  3.0|          2.0|
|  4.0|          0.0|
|  5.0|          4.0|
|  6.0|          6.0|
|  7.0|          7.0|
|  8.0|          1.0|
+-----+-------------+

#### concat ...

In [142]:
print(df_num_fruit.columns)
print(df_fruit.columns)
print(df_random_num.columns)

['Index']
['fruit']
['Index', 'Random Number']

In [143]:
print(df_num_fruit.count())
print(df_fruit.count())
# df_combined = df_num_fruit.join(df_fruit)
# df_combined.show()

9
9

In [144]:
def df_add_column(df,dfa,colname):
    df_new = df.withColumn(colname,dfa.column(colname))
    return df_new

In [145]:
df_fruit.columns

['fruit']

In [146]:
# df_num_fruit
# df_fruit
df_f2 = df_num_fruit.unionAll(df_fruit)

# unionAll appends 2nd dataframe to the end of the 1st
# Vertical Join

In [147]:
df_f2.show()

+---------+
|    Index|
+---------+
|        0|
|        1|
|        2|
|        3|
|        4|
|        5|
|        6|
|        7|
|        8|
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [148]:
df_com = df_num_fruit.join(df_fruit,df_num_fruit['Index'] != df_fruit["fruit"],"outer")

# horizontal join, but non inner..

In [149]:
df_com.show()

+-----+---------+
|Index|    fruit|
+-----+---------+
| null|    apple|
| null|   orange|
| null|   banana|
| null|    grape|
| null|    melon|
| null|pineapple|
| null|     kiwi|
| null|    lemon|
| null|     lime|
|    0|     null|
|    1|     null|
|    2|     null|
|    3|     null|
|    4|     null|
|    5|     null|
|    6|     null|
|    7|     null|
|    8|     null|
+-----+---------+

In [150]:
X = myDF(ctx.spark)
df_multi = X.df_multidimensional(4,3,[('name','string',6),
                                      ('address','integer',(1000,9999)),
                                      ('portion','double',(0.0,1.0))])

In [151]:
df_multi.show()

+------+-------+------------------+
|  name|address|           portion|
+------+-------+------------------+
|gpeacy|   8152|0.0627452015618517|
|dugaax|   7228|0.6211945956089492|
|sqbzqt|   6102|0.5810574491628899|
|axjuux|   9936| 0.708151095160395|
+------+-------+------------------+

### Example 2. Another random, multidimensional dataframe

In [157]:
X = myDF(ctx.spark)
df_multi6 = X.df_multidimensional(500,6,[('user','string',6),
                                         ('id','integer',(1,10000)),
                                         ('password','string2',13),
                                         ('address','integer',(1000,9999)),
                                         ('decimal','double',(0.0,1.0)),
                                         ('worth','double',(0.0,10000000))])

In [158]:
df_multi6.show()

+------+----+-------------+-------+--------------------+------------------+
|  user|  id|     password|address|             decimal|             worth|
+------+----+-------------+-------+--------------------+------------------+
|bxvjkk|4125|xhsuidngxzwlr|   4592| 0.18645979267794766| 5207642.988826174|
|jvipeo|8773|jjexpzhvnxxvp|   4527|  0.9849664237312168| 4923841.936469173|
|emykrk|  95|kgxouauobrcun|   3513| 0.02164571344004118| 4777471.233475206|
|xcmrrh|9813|esssmqgmpcoeh|   9685|  0.6230717254224215| 8783795.160568986|
|pesjob|9948|najivagznoual|   4792|  0.6258918293247617|  7823666.43257853|
|yvplbx|8695|uaudzracdfaoc|   8811|0.008901480705241549| 9023736.787350742|
|ycjptn|8868|iyxlkdgsedlyq|   9898|  0.5983402471306912| 9204869.110958809|
|wzwnvd|3442|bwiqanpcxhhfb|   1215|  0.5938884268372867| 6582199.621034493|
|loefuz|7254|ndbhicnukldjb|   4194|  0.9333085987713847|1270765.9085821488|
|rjeang|3371|fusscjxuxjfou|   2654| 0.10123652305921149|1433882.7042716173|
|srghjk|7441|vbyhqgekrlcge|   9741|  0.1046262709063619| 8191114.117631754|
|txubfy|3704|larimpqawgvwo|   4653|  0.7466156513172023| 7649114.418202796|
|miiwaa|9971|cfbacfndsrkog|   1634|  0.5510210195603488| 4838895.691413927|
|goczsg| 717|fzjrowcpjqqyb|   1180| 0.12587660386095645| 997288.6691451787|
|zqnsvv|8201|vdjqkibdmnlxz|   2923|  0.9091632994335783|6789456.3142926805|
|mnmzqw|8464|ouqjelbokbzvv|   1087|  0.9690010321863036| 4983622.840756703|
|vdxrfw|2775|oitqlrwovxbmu|   5718|   0.564439298761316| 8949909.392263522|
|yjrmni|6011|oiweyzlphkifr|   3192| 0.05784528501972497| 7863364.785535695|
|jamzdf| 479|jhcjwvtbhequo|   5144| 0.42937864770735357|  5672945.84761841|
|cimhnv|4299|nlpyxqqbyzlpt|   1428|   0.315891448919404| 3691259.369615347|
+------+----+-------------+-------+--------------------+------------------+
only showing top 20 rows

### Get Partitioning: Write, Read, Partition ..