# DataFrame Builder:

In [29]:
%load_ext autoreload
%autoreload 2

# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:20,.2f}'.format

In [3]:
print(sys.version)

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]

In [4]:
print(os.path.dirname(sys.executable))

C:\ProgramData\Anaconda3

In [5]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [6]:
# print(sys.path)
print(my_library)
print(my_spark)
print(os.listdir(my_spark))

C:\Users\d810216/.myconfigs
C:\Users\d810216/spark2_dfanalysis
['.git', '.gitignore', 'example_notebooks', 'LICENSE', 'mydf', 'README.md', 'shared', '__init__.py']

In [7]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('myappname').getOrCreate()

In [8]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [9]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")

In [10]:
print(spark)
print(ctx.spark)
# print(dir(ctx.spark))

<pyspark.sql.session.SparkSession object at 0x000001EAF5DFD780>
<pyspark.sql.session.SparkSession object at 0x000001EAF5DFD780>

In [30]:
# print(sys.path)
from mydf.DataFrameBuild import *

## ^final import

## DataFrameBuild
### x = myDF(ctx.spark)

In [31]:
x = GetDF(ctx.spark)
print(type(x))
print(dir(x))
print(x.spark)
x.df_simple_array()
#x.df_array(ctx.spark,10)

<class 'mydf.DataFrameBuild.GetDF'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'decision_array_type', 'df_multidimensional', 'df_randomly_increasing_array', 'df_simple_array', 'df_string_array', 'get_StructField', 'get_array', 'get_double_array', 'get_integer_array', 'get_string_array', 'profile_partitions', 'profile_size', 'spark']
<pyspark.sql.session.SparkSession object at 0x000001EAF5DFD780>

DataFrame[Index: bigint]

### Create Arrays

In [67]:
mystr = x.get_array("string",num=12,width=8) 
myint = x.get_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.get_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

12 ['xejjmsol', 'zcaukdpi', 'wtrmyozp', 'yjwtbzwv', 'pmxiahcr', 'nenneick', 'ojaldduq', 'riepciie', 'dizkfwnw', 'nvfhezvw', 'aidcrygg', 'lpenaohj']
12 [1 3 3 2 2 4 0 0 3 3 1 2]
12 [10.0910574  10.07729548 10.04598313 10.05039545 10.08834741 10.04643331
 10.03029783 10.00434859 10.03041613 10.0997134  10.02172155 10.04126944]

In [68]:
x.df_simple_array(5,8)
x.count
x.df.show()

+-----+
|Index|
+-----+
|  5.0|
|  6.0|
|  7.0|
|  8.0|
+-----+

In [69]:
x.df_simple_array(1000)
x.df.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
|   10|
|   11|
|   12|
|   13|
|   14|
|   15|
|   16|
|   17|
|   18|
|   19|
+-----+
only showing top 20 rows

In [70]:
x.df_randomly_increasing_array(3)

DataFrame[Index: double, Random Number: double]

In [71]:
for i in range(20):
    x.df_randomly_increasing_array(50)
    
x.df.limit(20).toPandas()

                  Index        Random Number
0                  0.00                 0.00
1                  1.00                 1.00
2                  2.00                 2.00
3                  3.00                 1.00
4                  4.00                 1.00
5                  5.00                 1.00
6                  6.00                 0.00
7                  7.00                 7.00
8                  8.00                 4.00
9                  9.00                 0.00
10                10.00                 7.00
11                11.00                 4.00
12                12.00                 8.00
13                13.00                11.00
14                14.00                 5.00
15                15.00                15.00
16                16.00                11.00
17                17.00                13.00
18                18.00                 5.00
19                19.00                 0.00

In [72]:
fruit = ["apple","orange","banana","grape","melon","pineapple","kiwi","lemon","lime"]

In [73]:
df_fruit = x.spark.createDataFrame(fruit,StringType()).toDF("fruit")

In [74]:
df_fruit.show()

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [140]:
def get_string_fields(lst):
    n = len(lst)
    fields = [StructField(x,StringType(),True) for x in lst]
    return fields

fields_fruit = get_string_fields(fruit)
# df = x.spark.createDataFrame(fruits,fields_fruit)

### Example 1.

In [141]:
X = myDF(ctx.spark)
# print(fruit)
# print(len(fruit))

df_num_fruit = X.df_simple_array(len(fruit))
df_random_num= X.df_randomly_increasing_array(len(fruit))
df_fruit     = X.df_string_array(fruit,"fruit")

df_num_fruit.show()
df_fruit.show()
df_random_num.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
+-----+

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

+-----+-------------+
|Index|Random Number|
+-----+-------------+
|  0.0|          0.0|
|  1.0|          1.0|
|  2.0|          1.0|
|  3.0|          2.0|
|  4.0|          0.0|
|  5.0|          4.0|
|  6.0|          6.0|
|  7.0|          7.0|
|  8.0|          1.0|
+-----+-------------+

#### concat ...

In [142]:
print(df_num_fruit.columns)
print(df_fruit.columns)
print(df_random_num.columns)

['Index']
['fruit']
['Index', 'Random Number']

In [143]:
print(df_num_fruit.count())
print(df_fruit.count())
# df_combined = df_num_fruit.join(df_fruit)
# df_combined.show()

9
9

In [144]:
def df_add_column(df,dfa,colname):
    df_new = df.withColumn(colname,dfa.column(colname))
    return df_new

In [145]:
df_fruit.columns

['fruit']

In [146]:
# df_num_fruit
# df_fruit
df_f2 = df_num_fruit.unionAll(df_fruit)

# unionAll appends 2nd dataframe to the end of the 1st
# Vertical Join

In [147]:
df_f2.show()

+---------+
|    Index|
+---------+
|        0|
|        1|
|        2|
|        3|
|        4|
|        5|
|        6|
|        7|
|        8|
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [148]:
df_com = df_num_fruit.join(df_fruit,df_num_fruit['Index'] != df_fruit["fruit"],"outer")

# horizontal join, but non inner..

In [149]:
df_com.show()

+-----+---------+
|Index|    fruit|
+-----+---------+
| null|    apple|
| null|   orange|
| null|   banana|
| null|    grape|
| null|    melon|
| null|pineapple|
| null|     kiwi|
| null|    lemon|
| null|     lime|
|    0|     null|
|    1|     null|
|    2|     null|
|    3|     null|
|    4|     null|
|    5|     null|
|    6|     null|
|    7|     null|
|    8|     null|
+-----+---------+

In [150]:
X = myDF(ctx.spark)
df_multi = X.df_multidimensional(4,3,[('name','string',6),
                                      ('address','integer',(1000,9999)),
                                      ('portion','double',(0.0,1.0))])

In [151]:
df_multi.show()

+------+-------+------------------+
|  name|address|           portion|
+------+-------+------------------+
|gpeacy|   8152|0.0627452015618517|
|dugaax|   7228|0.6211945956089492|
|sqbzqt|   6102|0.5810574491628899|
|axjuux|   9936| 0.708151095160395|
+------+-------+------------------+

### Example 2. Another random, multidimensional dataframe

In [77]:
X = GetDF(ctx.spark)
df_multi6 = X.df_multidimensional(500,6,[('user','string',6),
                                         ('id','integer',(1,10000)),
                                         ('password','string2',13),
                                         ('address','integer',(1000,9999)),
                                         ('decimal','double',(0.0,1.0)),
                                         ('worth','double',(0.0,10000000))])

In [78]:
df_multi6.show()

+------+----+-------------+-------+--------------------+------------------+
|  user|  id|     password|address|             decimal|             worth|
+------+----+-------------+-------+--------------------+------------------+
|qudmyb|2769|pzvbhyufknwgb|   8231|  0.2182570101452227|  9638683.47567966|
|rnbyxu|3620|ayxcnrwxcwxij|   6328|  0.4375813964663585|6888058.6361616105|
|iboxbq|7248|yaqvqsyqcxxsd|   2187|  0.1605860400222402| 3643920.766596641|
|qjozkw|9816|dunzotpzzqmmn|   7612| 0.43685858811573286| 4852881.343448941|
|qefdjb|5071|dmuuhowbqxujs|   2082| 0.27363407492523295| 620154.8234011378|
|rvaquk|9653|vxiqzqvgthtnx|   1426|  0.6341216863258613| 6922016.961281522|
|ezurjv|8386|qjavzicfulftt|   5368|  0.5896090212464249| 5883109.552017249|
|qvaync|2557|zovvxyzcvmwuf|   3865|   0.252827796875861|3679056.7732994673|
|reksbc|5959|hixhymuoxetwi|   1367|  0.5233096998805179| 488629.3377563489|
|wykfoz|1004|xsneqlsvnihwx|   5369|  0.5751442545704748| 2115708.978751638|
|biqtlw|2237|flhihtpghyqzq|   3458| 0.42691960437100196|5803740.0986828925|
|rvtkae|9921|wciiddguaslmh|   7684|0.001782385964152...| 6458425.182691116|
|vkumbj|4874|khqcterbchcvw|   7895|  0.9601782739410946| 6543712.470895529|
|rtxozm|9831|ztfvratigbllc|   1901|0.060376755572848606| 7972114.609629774|
|bypoto|8322|cumozpatwvtiz|   3050| 0.34052349365903345| 6693829.358565138|
|vtbizk|7675|dhxrtbafbfiui|   6630|  0.6452101665475094| 9841554.998537509|
|cefeqy|1150|eksyxkqdnxmpu|   7447|  0.8769040805609309|4031556.3045816673|
|pawajx|8526|boglnszvruvkg|   5642|  0.6770511967977503|  3870263.11122702|
|gqnavh|6102|hheuykjdfhlfe|   9387|  0.7866229762002835| 8756669.155427119|
|ceoyay|4396|hjdjkbrdeltxt|   4550|  0.7665277417625759| 2924273.918168766|
+------+----+-------------+-------+--------------------+------------------+
only showing top 20 rows

### Example 3. get_array --> to DataFrame

In [67]:
mystr = x.get_array("string",num=12,width=8) 
myint = x.get_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.get_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

12 ['xejjmsol', 'zcaukdpi', 'wtrmyozp', 'yjwtbzwv', 'pmxiahcr', 'nenneick', 'ojaldduq', 'riepciie', 'dizkfwnw', 'nvfhezvw', 'aidcrygg', 'lpenaohj']
12 [1 3 3 2 2 4 0 0 3 3 1 2]
12 [10.0910574  10.07729548 10.04598313 10.05039545 10.08834741 10.04643331
 10.03029783 10.00434859 10.03041613 10.0997134  10.02172155 10.04126944]

### Get Partitioning: Write, Read, Partition ..