# DataFrame Builder:

In [55]:
%load_ext autoreload
%autoreload 2

# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [56]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:20,.2f}'.format

In [57]:
print(sys.version)

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]

In [58]:
print(os.path.dirname(sys.executable))

C:\ProgramData\Anaconda3

In [59]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [60]:
# print(sys.path)
print(my_library)
print(my_spark)
print(os.listdir(my_spark))

C:\Users\d810216/.myconfigs
C:\Users\d810216/spark2_dfanalysis
['.git', '.gitignore', 'builder', 'example_notebooks', 'LICENSE', 'README.md', 'shared', '__init__.py']

In [61]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

# spark = SparkSession.builder.appName('myappname').getOrCreate()
# print(spark)

In [62]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [63]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")
print(ctx.spark)

<pyspark.sql.session.SparkSession object at 0x000001FBB41B0AC8>

In [64]:
# print(sys.path)
from builder.DataFrameBuild import *

## DataFrameBuild
### x = DataFrameBuild(ctx.spark)

In [48]:
x = DataFrameBuild(ctx.spark)
print(type(x))
print(dir(x))
print(x.spark)
x.df_simple_array().show()

<class 'builder.DataFrameBuild.DataFrameBuild'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'arrays_to_dataframe', 'build_array', 'decision_array_type', 'df_multidimensional', 'df_randomly_increasing_array', 'df_simple_array', 'df_string_array', 'get_StructField', 'print_size', 'spark']
<pyspark.sql.session.SparkSession object at 0x000001FBB41B0AC8>
+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
+-----+

### Create Arrays

In [18]:
mystr = x.build_array("string",num=12,width=8) 
myint = x.build_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.build_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

12 ['mlovwqvp', 'ozjufcie', 'sutntqgg', 'grqzfqzz', 'eeeflqqt', 'snamrljl', 'pvuketkj', 'mmrtaycl', 'huzslccd', 'meamenml', 'dwtjngie', 'zamssxpd']
12 [1 3 3 0 1 4 3 1 4 2 1 0]
12 [10.06334112 10.09179739 10.00892128 10.06124412 10.06919897 10.07832243
 10.02503103 10.07134458 10.00899986 10.03308356 10.0547064  10.02443795]

### Create DataFrames

In [19]:
x.df_simple_array(5,8)
x.count
x.df.show()

+-----+
|Index|
+-----+
|  5.0|
|  6.0|
|  7.0|
|  8.0|
+-----+

In [20]:
x.df_simple_array(1000)
x.df.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
|    9|
|   10|
|   11|
|   12|
|   13|
|   14|
|   15|
|   16|
|   17|
|   18|
|   19|
+-----+
only showing top 20 rows

In [21]:
x.df_randomly_increasing_array(3)

DataFrame[Index: double, Random Number: double]

In [22]:
for i in range(20):
    x.df_randomly_increasing_array(50)
    
x.df.limit(20).toPandas()

                  Index        Random Number
0                  0.00                 0.00
1                  1.00                 1.00
2                  2.00                 1.00
3                  3.00                 1.00
4                  4.00                 4.00
5                  5.00                 1.00
6                  6.00                 1.00
7                  7.00                 1.00
8                  8.00                 8.00
9                  9.00                 3.00
10                10.00                 3.00
11                11.00                11.00
12                12.00                11.00
13                13.00                 0.00
14                14.00                 6.00
15                15.00                 8.00
16                16.00                 2.00
17                17.00                 3.00
18                18.00                14.00
19                19.00                16.00

In [23]:
fruit = ["apple","orange","banana","grape","melon","pineapple","kiwi","lemon","lime"]

In [24]:
df_fruit = x.spark.createDataFrame(fruit,StringType()).toDF("fruit")

In [25]:
df_fruit.show()

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [26]:
def get_string_fields(lst):
    n = len(lst)
    fields = [StructField(x,StringType(),True) for x in lst]
    return fields

fields_fruit = get_string_fields(fruit)
# df = x.spark.createDataFrame(fruits,fields_fruit)

### Example 1.

In [27]:
X = DataFrameBuild(ctx.spark)
# print(fruit)
# print(len(fruit))

df_num_fruit = X.df_simple_array(len(fruit))
df_fruit     = X.df_string_array(fruit,"fruit")
df_random_num= X.df_randomly_increasing_array(len(fruit))

df_num_fruit.show()
df_fruit.show()
df_random_num.show()

+-----+
|Index|
+-----+
|    0|
|    1|
|    2|
|    3|
|    4|
|    5|
|    6|
|    7|
|    8|
+-----+

+---------+
|    fruit|
+---------+
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

+-----+-------------+
|Index|Random Number|
+-----+-------------+
|  0.0|          0.0|
|  1.0|          0.0|
|  2.0|          1.0|
|  3.0|          3.0|
|  4.0|          2.0|
|  5.0|          3.0|
|  6.0|          6.0|
|  7.0|          1.0|
|  8.0|          2.0|
+-----+-------------+

In [28]:
print(df_num_fruit.columns)
print(df_fruit.columns)
print(df_random_num.columns)

['Index']
['fruit']
['Index', 'Random Number']

In [29]:
print(df_num_fruit.count())
print(df_fruit.count())
print(df_random_num.count())

9
9
9

In [32]:
df_f2 = df_num_fruit.unionAll(df_fruit)
# unionAll appends 2nd dataframe to the end of the 1st
# Vertical Join

In [33]:
df_f2.show()

+---------+
|    Index|
+---------+
|        0|
|        1|
|        2|
|        3|
|        4|
|        5|
|        6|
|        7|
|        8|
|    apple|
|   orange|
|   banana|
|    grape|
|    melon|
|pineapple|
|     kiwi|
|    lemon|
|     lime|
+---------+

In [34]:
df_com = df_num_fruit.join(df_fruit,df_num_fruit['Index'] != df_fruit["fruit"],"outer")

# horizontal join, but non inner..

In [35]:
df_com.show()

+-----+---------+
|Index|    fruit|
+-----+---------+
| null|    apple|
| null|   orange|
| null|   banana|
| null|    grape|
| null|    melon|
| null|pineapple|
| null|     kiwi|
| null|    lemon|
| null|     lime|
|    0|     null|
|    1|     null|
|    2|     null|
|    3|     null|
|    4|     null|
|    5|     null|
|    6|     null|
|    7|     null|
|    8|     null|
+-----+---------+

In [36]:
x = DataFrameBuild(ctx.spark)
df_multi = x.df_multidimensional(4,3,[('name','string',6),
                                      ('address','integer',(1000,9999)),
                                      ('portion','double',(0.0,1.0))])

In [38]:
df_multi.show()

+------+-------+------------------+
|  name|address|           portion|
+------+-------+------------------+
|nytrgo|   5599|0.9374878214505441|
|udwbmd|   9735|0.6004865092910769|
|mfvqee|   5797|0.6673352851734701|
|awkljt|   9137|0.8932292761983116|
+------+-------+------------------+

### Example 2. Another random, multidimensional dataframe

In [40]:
x = DataFrameBuild(ctx.spark)
df_multi6 = x.df_multidimensional(500,6,[('user','string',6),
                                         ('id','integer',(1,10000)),
                                         ('password','string2',13),
                                         ('address','integer',(1000,9999)),
                                         ('decimal','double',(0.0,1.0)),
                                         ('worth','double',(0.0,10000000))])

In [41]:
df_multi6.show()

+------+----+-------------+-------+-------------------+------------------+
|  user|  id|     password|address|            decimal|             worth|
+------+----+-------------+-------+-------------------+------------------+
|iojeph|6598|vpmjipxygahna|   6648| 0.6741904525605461| 7096747.970299294|
|ueusuw|1653|hsqreaefpaiqb|   4599|  0.711591826234877| 6082905.711979429|
|cdafmr|6573|ysxyenikljjhe|   9568| 0.2291795299456214| 4258407.976636858|
|iosyvr|5580|ajnrcbevbtxae|   8830|0.28710172926202204| 3876987.800785884|
|bbwfog|5223|cxqkkjtxdfpvw|   1083| 0.9316143921970922| 5455729.058328744|
|nwxwtg|4894|cvwppppeidaeu|   1685| 0.9342474780326047| 4878065.544354419|
|uwioim|9956|ylcipydpcncvd|   6866| 0.1481774377366032| 9581786.886318997|
|gjwvrk|9439|vhypvwxtxtscs|   2441|0.36978734119584755|1413228.1732156316|
|eqifrj|4115|jawgiusadlaof|   2687| 0.1438965175989474|3828871.3391499217|
|pyxtcj|3684|oocbiuyxldsoc|   8437| 0.9009991170525317| 9888387.638582116|
|oumdki| 267|svhoqzzgvraxv|   3569|0.07824512002907291|  8742875.00578327|
|pmknjn| 728|rxnywnigezneo|   5799| 0.8278148520517283|1706539.8385779762|
|opoght| 946|ifnsgmjlpsrlg|   4893|0.49535151455288196| 7776540.665772187|
|uyfbog|8612|siwxotqhqdtls|   1566|   0.08767726294292| 551816.4432601503|
|ulyyho|5058|tsurmqdhcldgq|   3005|  0.519449662396035| 622875.2622295008|
|pppfug|4322|hcetkaxxwezou|   1384|0.10516168800877757| 2805506.205234378|
|fgmmlk|4080|pzavlrpsiicyz|   4378|0.45846137440920254| 8700067.332375277|
|rrrbns| 678|chrqfbmngkajw|   8929| 0.9170049515834586|  9672250.64927379|
|rszsla|5280|qwqlycipwpcqh|   5264|  0.771470301783804| 4658627.271899334|
|xzbwao|7567|gbooawnsuxiib|   8314| 0.7858956790932654| 3446877.318610879|
+------+----+-------------+-------+-------------------+------------------+
only showing top 20 rows

### Example 3. build_array --> to DataFrame

In [42]:
x = DataFrameBuild(ctx.spark)

In [43]:
print(x.build_array.__doc__)

        :param atype: (req.) string,integer,double
        :param num: number of elements
        :param width: length of any one string
        :param nrange: low to high boundaries
        :param low: low end boundary
        :param high: high end boundary

In [44]:
mystr = x.build_array("string",num=12,width=8) 
myint = x.build_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.build_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

12 ['gnfbahry', 'qfopmpot', 'dwegvtmc', 'kuogfjor', 'gqcdmisb', 'eflvcqvu', 'bqpmbzfe', 'cdgolkhy', 'pgmcfxxk', 'ifjzwrto', 'iyzznkkm', 'ojzxwckk']
12 [2 0 1 2 0 1 2 4 4 1 2 2]
12 [10.08980868 10.087433   10.09460671 10.03717285 10.05484709 10.05837862
 10.03686659 10.02972041 10.09600058 10.09089883 10.04018016 10.04335351]

In [45]:
# list of arrays .. pass into function, tell function to get type, zip.
x = DataFrameBuild(ctx.spark)

lst_names = ["passwords","quarter","tens"]
lst = [mystr,myint,mydoub]

df = x.df_from_arrays(lst,lst_names)

In [46]:
df.show()

+---------+-------+------------------+
|passwords|quarter|              tens|
+---------+-------+------------------+
| gnfbahry|      2|10.089808678690243|
| qfopmpot|      0|10.087433004378168|
| dwegvtmc|      1|10.094606706827015|
| kuogfjor|      2|10.037172849954956|
| gqcdmisb|      0|10.054847089780313|
| eflvcqvu|      1|10.058378624511603|
| bqpmbzfe|      2|10.036866591747216|
| cdgolkhy|      4|10.029720410008041|
| pgmcfxxk|      4|10.096000582524162|
| ifjzwrto|      1|10.090898831394977|
| iyzznkkm|      2|10.040180164035183|
| ojzxwckk|      2|10.043353512247863|
+---------+-------+------------------+

### Example 4. Choose array type, get DataFrame

In [65]:
x = DataFrameBuild(ctx.spark)
num = 500
df4 = x.arrays_to_dataframe([x.build_array("string",num=num,width=8),
                        x.build_array("integer",num=num,nrange=(1,4)),
                        x.build_array("integer",num=num,nrange=(1,12)),
                        x.build_array("double",num=num,nrange=(0.0,10000))],
                      ['passwords','quarter','month','price'])

AttributeError: 'DataFrameBuild' object has no attribute 'get_array'

In [50]:
df4.limit(20).toPandas()

   passwords  quarter  month                price
0   gyzucdtw        1      2             6,445.57
1   bcvnbynp        2      2             9,571.31
2   ortfvfjv        4      7             9,680.85
3   lhrhxfmq        4      9             6,119.89
4   iojqkdlc        3      2             9,918.93
5   fotxzsba        1     10               489.84
6   glhxqfjr        4      6             3,100.27
7   uijpvksr        3      8               413.42
8   ppjscwjs        1     12             9,958.50
9   dfjspusd        1     10             8,574.94
10  evnoiwly        4      3             7,080.34
11  dtwcrnck        2      2             1,475.28
12  aibvskbh        1      7               545.11
13  ikkpqigi        4      6             9,774.76
14  aeagbjfq        3     11               533.18
15  tepqghtg        2      8             8,842.51
16  twbfzqon        2      5             7,201.90
17  opchlltz        2      8               674.09
18  hvujkszo        3      1             9,035.83
19  vprjqqad        1      9               692.75

# Build some arrays, put them into a DataFrame

In [85]:
x = DataFrameBuild(ctx.spark)
num = 500
df4 = x.arrays_to_dataframe([[int(x) for x in np.linspace(1,num,num)],
                             x.build_array("string",num=num,width=8),
                             x.build_array("integer",num=num,nrange=(1,4)),
                             x.build_array("integer",num=num,nrange=(1,12)),
                             x.build_array("double",num=num,nrange=(0.0,10000))],
                             ['index','passwords','quarter','month','price'])

In [86]:
df4.show()

+-----+---------+-------+-----+------------------+
|index|passwords|quarter|month|             price|
+-----+---------+-------+-----+------------------+
|    1| maomjdyf|      1|    9| 4252.955436933994|
|    2| rnfbgprp|      1|   11| 5591.600044148706|
|    3| dxnoevjd|      2|    5|4630.9969284018125|
|    4| ardxrhjb|      3|    8| 4244.947233513909|
|    5| apjzirto|      3|   12|1377.7842123036676|
|    6| zcmegajw|      1|    7|3563.3121493079066|
|    7| hvlrpfut|      3|    3| 6803.323852772549|
|    8| xxyshfki|      1|    4|  3017.12426006705|
|    9| ffxoijok|      4|    8| 1308.139684792432|
|   10| pqvgrkkb|      1|    6| 5653.544917138817|
|   11| cphvagxv|      2|    7|  1775.48333804866|
|   12| uuypqzuc|      3|    6|1419.0563538955792|
|   13| nobmfvwz|      3|   10| 43.61759308910473|
|   14| jnixdpqh|      3|    5|  2699.27193755963|
|   15| fvggofms|      2|   11| 4422.968890219401|
|   16| gxrqbyww|      2|    2|   1072.7933767232|
|   17| sgehufse|      2|    2|1303.6212547702441|
|   18| akiwdkfl|      2|    7|1148.2311403419333|
|   19| llrxveex|      2|    8| 7454.337021666853|
|   20| ykiponuk|      2|    9| 6408.292701853145|
+-----+---------+-------+-----+------------------+
only showing top 20 rows

In [87]:
df4.orderBy("index").show()

+-----+---------+-------+-----+------------------+
|index|passwords|quarter|month|             price|
+-----+---------+-------+-----+------------------+
|    1| maomjdyf|      1|    9| 4252.955436933994|
|    2| rnfbgprp|      1|   11| 5591.600044148706|
|    3| dxnoevjd|      2|    5|4630.9969284018125|
|    4| ardxrhjb|      3|    8| 4244.947233513909|
|    5| apjzirto|      3|   12|1377.7842123036676|
|    6| zcmegajw|      1|    7|3563.3121493079066|
|    7| hvlrpfut|      3|    3| 6803.323852772549|
|    8| xxyshfki|      1|    4|  3017.12426006705|
|    9| ffxoijok|      4|    8| 1308.139684792432|
|   10| pqvgrkkb|      1|    6| 5653.544917138817|
|   11| cphvagxv|      2|    7|  1775.48333804866|
|   12| uuypqzuc|      3|    6|1419.0563538955792|
|   13| nobmfvwz|      3|   10| 43.61759308910473|
|   14| jnixdpqh|      3|    5|  2699.27193755963|
|   15| fvggofms|      2|   11| 4422.968890219401|
|   16| gxrqbyww|      2|    2|   1072.7933767232|
|   17| sgehufse|      2|    2|1303.6212547702441|
|   18| akiwdkfl|      2|    7|1148.2311403419333|
|   19| llrxveex|      2|    8| 7454.337021666853|
|   20| ykiponuk|      2|    9| 6408.292701853145|
+-----+---------+-------+-----+------------------+
only showing top 20 rows

In [84]:
df4.select("index").distinct().count()

500