# take2dataframes_addindexcolumn_merge

In [23]:
%load_ext autoreload
%autoreload 2

# The autoreload extension is already loaded. To reload it, use:
#  %reload_ext autoreload

In [14]:
import os
import sys
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:8,.2f}'.format

In [15]:
# mylib:
my_library = os.path.expanduser('~/.myconfigs')
my_spark = os.path.expanduser('~/spark2_dfanalysis')
sys.path.append(my_library)
sys.path.append(my_spark)

In [16]:
import pyspark as spark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

# spark = SparkSession.builder.appName('myappname').getOrCreate()
# print(spark)

In [17]:
# print(dir(pyspark))
# print(dir(pyspark.sql))
# print(dir(pyspark.rdd))

In [18]:
from shared.app_context import *

ctx = ApplicationContext("Dev-Job")
print(ctx.spark)

<pyspark.sql.session.SparkSession object at 0x0000015501A4EEF0>

In [24]:
# print(sys.path)
from builder.DataFrameBuild import *

## DataFrameBuild Class:
### x = DataFrameBuild(ctx.spark)

In [25]:
x = DataFrameBuild(ctx.spark)

### build_array function

In [28]:
x = DataFrameBuild(ctx.spark)
num = 500
df1 = x.arrays_to_dataframe([x.build_array("string",num=num,width=8),
                        x.build_array("integer",num=num,nrange=(1,4)),
                        x.build_array("integer",num=num,nrange=(1,12)),
                        x.build_array("double",num=num,nrange=(0.0,10000))],
                      ['passwords','quarter','month','price'])

In [29]:
x = DataFrameBuild(ctx.spark)
num = 500
df2 = x.arrays_to_dataframe([[int(x) for x in np.linspace(1,num,num)],
                             x.build_array("string",num=num,width=8),
                             x.build_array("integer",num=num,nrange=(1,4)),
                             x.build_array("integer",num=num,nrange=(1,12)),
                             x.build_array("double",num=num,nrange=(0.0,10000))],
                             ['index','passwords','quarter','month','price'])

In [30]:
df1.limit(10).show()

+---------+-------+-----+------------------+
|passwords|quarter|month|             price|
+---------+-------+-----+------------------+
| jktzadpz|      2|    5| 6315.927877497339|
| zsfkaoja|      1|    3|1008.0624239640101|
| zoyujjek|      4|    6|  9495.53696488902|
| uwnyqmbs|      3|    1| 5823.122954583383|
| hyuorjos|      4|    4|7097.9954829228045|
| kjaxvhlq|      1|   10| 7873.869160668674|
| llypurly|      4|    1|2105.9319412164023|
| nkxwfjib|      4|    7|1422.1175793618224|
| gyucoqaw|      1|    6| 6033.527832550008|
| hpezpydc|      1|    1| 595.7052983554445|
+---------+-------+-----+------------------+

In [32]:
df2.limit(10).show()

+-----+---------+-------+-----+------------------+
|index|passwords|quarter|month|             price|
+-----+---------+-------+-----+------------------+
|    1| yhnkdqkl|      2|    8| 9886.547501092942|
|    2| kojjwyho|      4|   10| 8393.003617794908|
|    3| indnyckk|      1|    5| 7766.784810103539|
|    4| ymomvurh|      3|   11| 8325.585513085633|
|    5| oczsudwq|      3|    2| 464.2706937788077|
|    6| nfwfkdli|      2|    2|1429.0868836064808|
|    7| lwvdpqzz|      4|    9|2868.8820361154744|
|    8| tqnegxdy|      1|    4| 2887.854409167768|
|    9| vefkitkw|      4|    1| 2396.812922832826|
|   10| jraekgxs|      2|   11|  8428.90505002657|
+-----+---------+-------+-----+------------------+

## Let's add indices to df1 and join to df2

In [47]:
df1_minus_index = df1.withColumn("index",lit(-1))

In [48]:
df1_minus_index.limit(10).show()

+---------+-------+-----+------------------+-----+
|passwords|quarter|month|             price|index|
+---------+-------+-----+------------------+-----+
| jktzadpz|      2|    5| 6315.927877497339|   -1|
| zsfkaoja|      1|    3|1008.0624239640101|   -1|
| zoyujjek|      4|    6|  9495.53696488902|   -1|
| uwnyqmbs|      3|    1| 5823.122954583383|   -1|
| hyuorjos|      4|    4|7097.9954829228045|   -1|
| kjaxvhlq|      1|   10| 7873.869160668674|   -1|
| llypurly|      4|    1|2105.9319412164023|   -1|
| nkxwfjib|      4|    7|1422.1175793618224|   -1|
| gyucoqaw|      1|    6| 6033.527832550008|   -1|
| hpezpydc|      1|    1| 595.7052983554445|   -1|
+---------+-------+-----+------------------+-----+

In [ ]:
df1_assign_index = df1_minus_index.withColumn("index",))

### Create DataFrames

#### Create Arrays

In [35]:
mystr = x.build_array("string",num=12,width=8) 
myint = x.build_array("integer",num=12,nrange=(0,4))    # inclusive on range
mydoub = x.build_array("double",num=12,nrange=(10,10.1))

print(len(mystr),mystr)
print(len(myint),myint)
print(len(mydoub),mydoub)

12 ['cefxiqcn', 'bwxszvez', 'swowagsw', 'drpitckf', 'aflesjgh', 'nbpkxwwm', 'tznyvrfs', 'cxmqoxii', 'whsfkgxa', 'yfuvzfkh', 'ndktklbv', 'vrnmtxhr']
12 [2 3 3 2 3 3 1 3 1 0 4 0]
12 [10.09726487 10.04734221 10.02175792 10.03752397 10.04964153 10.04768964
 10.02586561 10.04138514 10.05196071 10.0163472  10.0844833  10.06077905]

#### with a list of list of strings, and list of string of length 1

In [36]:
dfx = x.arrays_to_dataframe([mystr],['random_letters'])
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+--------------+
|random_letters|
+--------------+
|      cefxiqcn|
|      bwxszvez|
|      swowagsw|
|      drpitckf|
|      aflesjgh|
|      nbpkxwwm|
|      tznyvrfs|
|      cxmqoxii|
|      whsfkgxa|
|      yfuvzfkh|
|      ndktklbv|
|      vrnmtxhr|
+--------------+

#### with a list of list of strings, and a string

In [37]:
dfx = x.arrays_to_dataframe([mystr],'random_letters')
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+--------------+
|random_letters|
+--------------+
|      cefxiqcn|
|      bwxszvez|
|      swowagsw|
|      drpitckf|
|      aflesjgh|
|      nbpkxwwm|
|      tznyvrfs|
|      cxmqoxii|
|      whsfkgxa|
|      yfuvzfkh|
|      ndktklbv|
|      vrnmtxhr|
+--------------+

#### with lists of length 2

In [38]:
print(myint)
print(mystr)
dfx = x.arrays_to_dataframe([myint,mystr],['random_ints','random_letters'])
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

[2 3 3 2 3 3 1 3 1 0 4 0]
['cefxiqcn', 'bwxszvez', 'swowagsw', 'drpitckf', 'aflesjgh', 'nbpkxwwm', 'tznyvrfs', 'cxmqoxii', 'whsfkgxa', 'yfuvzfkh', 'ndktklbv', 'vrnmtxhr']
12
+-----------+--------------+
|random_ints|random_letters|
+-----------+--------------+
|          2|      cefxiqcn|
|          3|      bwxszvez|
|          3|      swowagsw|
|          2|      drpitckf|
|          3|      aflesjgh|
|          3|      nbpkxwwm|
|          1|      tznyvrfs|
|          3|      cxmqoxii|
|          1|      whsfkgxa|
|          0|      yfuvzfkh|
|          4|      ndktklbv|
|          0|      vrnmtxhr|
+-----------+--------------+

#### with a list and a string

In [39]:
dfx = x.arrays_to_dataframe(mystr,'crazy_strings')
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+-------------+
|crazy_strings|
+-------------+
|     cefxiqcn|
|     bwxszvez|
|     swowagsw|
|     drpitckf|
|     aflesjgh|
|     nbpkxwwm|
|     tznyvrfs|
|     cxmqoxii|
|     whsfkgxa|
|     yfuvzfkh|
|     ndktklbv|
|     vrnmtxhr|
+-------------+

#### with an array and a string

In [40]:
dfx = x.arrays_to_dataframe(np.linspace(0,30,31),'integers')
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

31
+--------+
|integers|
+--------+
|     0.0|
|     1.0|
|     2.0|
|     3.0|
|     4.0|
|     5.0|
|     6.0|
|     7.0|
|     8.0|
|     9.0|
|    10.0|
|    11.0|
|    12.0|
|    13.0|
|    14.0|
|    15.0|
|    16.0|
|    17.0|
|    18.0|
|    19.0|
+--------+
only showing top 20 rows

#### with 1 array, no names

In [41]:
dfx = x.arrays_to_dataframe(mystr)
print(dfx.count())
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

12
+--------+
|     str|
+--------+
|cefxiqcn|
|bwxszvez|
|swowagsw|
|drpitckf|
|aflesjgh|
|nbpkxwwm|
|tznyvrfs|
|cxmqoxii|
|whsfkgxa|
|yfuvzfkh|
|ndktklbv|
|vrnmtxhr|
+--------+

#### with 3 arrays, no names

In [42]:
dfx = x.arrays_to_dataframe([mystr,myint,mydoub])
print(dfx.count)
dfx.show()

# [StructField(str,StringType,true)]
# ['str']

<bound method DataFrame.count of DataFrame[str: string, int32: bigint, float64: double]>
+--------+-----+------------------+
|     str|int32|           float64|
+--------+-----+------------------+
|cefxiqcn|    2|10.097264868608441|
|bwxszvez|    3|10.047342208690743|
|swowagsw|    3|  10.0217579179197|
|drpitckf|    2|10.037523972627138|
|aflesjgh|    3| 10.04964153235769|
|nbpkxwwm|    3|10.047689643974916|
|tznyvrfs|    1|10.025865611368964|
|cxmqoxii|    3|10.041385140901118|
|whsfkgxa|    1| 10.05196070605972|
|yfuvzfkh|    0|10.016347201082326|
|ndktklbv|    4|10.084483302990858|
|vrnmtxhr|    0|10.060779046572826|
+--------+-----+------------------+